<div class="page-title-area item-bg-5">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="page-title-content">
          <h2>our product</h2>
          <ul>
            <li><a routerLink="/hone">Home</a></li>
            <li>our product</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="projects-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>our product</span>
      <h2>Our product</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects1.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Chemical Research</a>
            </h3>
            <span>Lab Research</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects2.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Pathology Testing</a>
            </h3>
            <span>Chemistry</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects3.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Sample Preparation</a>
            </h3>
            <span>Microbiology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects4.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Healthcare Labs</a>
            </h3>
            <span>Genetic</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects5.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Advanced Microscopy</a>
            </h3>
            <span>Oncology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects6.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Biochemistry Test</a>
            </h3>
            <span>Incubator</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects7.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Anatomical Pathology</a>
            </h3>
            <span>Pathology</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects8.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Advanced Robotics</a>
            </h3>
            <span>Vaccines</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="projects-item two">
          <div class="image">
            <a href="#">
              <img src="assets/img/projects/projects9.jpg" alt="image">
            </a>
            <div class="icon">
              <a href="#">
                <i class="las la-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="content">
            <h3>
              <a href="#">Environmental Testing</a>
            </h3>
            <span>Incubator</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="newsletter-area pb-100">
  <div class="container">
    <div class="newsletter-inner">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="newsletter-content">
            <h2>Subscribe To Our Newsletter</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <form class="newsletter-form">
            <input type="email" class="input-newsletter" placeholder="Your Email" name="EMAIL" required
              autocomplete="off">
            <button type="submit">
              Subscribe Now
            </button>
            <div id="validator-newsletter" class="form-result"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>